---
layout: default
---

{% include header.html %}

<div class="portfolio">
    <h1>About Me:</h1>
    <div class="about_content">
	    <p>Some info about yourself</p>
    </div>
</div>


<div class="blog">
    <h1>Micro blog:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ site.myurl }}{{ site.mybaseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
